
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
body{
    background: #26cfc7;
}
main{
    height: 100vh;
    width: 100vw;
   background: #26cfc7;
}
.container{
    display: flex;
}
.logo img{
    border-radius: 100%;
    border: 2px solid yellow;
    height: 50%;
    width: 50%;
}
.logo{
    text-align: center;
}
.container1{
    width: 25%;
    flex-direction: row;
    height: 100vh;
    background: #e7f9f7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
}

.botom{
    /* border: 3px solid green; */
    height: 15vh;
    width: 28vh;
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
    background-color: #7ec8bb;
}
.botom img{
    height: 100%;
    width: 60%;
    border-radius: 25px;
}
.botom h3{
    color: white;
    text-align: center;
    padding-top: 20px;
}

.container2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    width: 75%;
    height: 100vh;
    background: #ccf2f2;
}
.heading{
    display: flex;
    justify-content: start;
    /* border: 1px solid rebeccapurple; */
    width: 50%;
    flex-direction: column;
}

.heading h1{
    font-weight: 900;
    padding: 15px;
}
.line{
     display: flex;
    justify-content: start;
    /* border: 2px solid rebeccapurple; */
    width: 100%;
   

}
hr{
    /* border: 2px solid red; */
    width: 340px;
    height: 20px;
    border-radius: 10px;
    background-color:#e7f9f7;
    border: none;

}
i{
    /* border: 2px solid red; */
    font-size: 25px;
    color: #26cfc7;
    
    padding: 10px 10px;
   
}
.cnt{
    width: 250px;
    height: 20px;
    border-radius: 10px;
    background-color:rgb(22, 138, 130);
    border: none;
}
.progress1{
    display: flex;
    width: 50%;
    justify-content: space-around;
    border-radius: 10px;
    align-items: center;
    height: 20%;
    background: #e7f9f7;
}
.progress2{
    display: flex;
    width: 50%;
    justify-content: space-around;
    border-radius: 10px;
    align-items: center;
    height: 20%;
    background: #e7f9f7;
}
.progress3{
    display: flex;
    width: 50%;
    justify-content: space-around;
    border-radius: 10px;
    align-items: center;
    height: 20%;
    background: #e7f9f7;
}
.content1{
    width: 20%;
}
.content1 img{
    /* border: 2px solid yellow; */
    width: 90px;
    width: 90px;
    border-radius: 20px;
}
p{
    font-size: .7rem;
    font-weight: 600;
}
