* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    /* border: 4px solid rebeccapurple; */
    font-family: arlow Semi Condensed, sans-serif;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: #ecf2f8;
}

main {
    margin: 2% auto;
    height: 88vh;
    width: 85vw;
    /* border: 3px solid brown; */
}

.main_grid_container {
    /* border: 3px solid yellow; */
    display: grid;
    grid-template-columns: repeat(5, 24.5%);
    grid-template-rows: repeat(2, 19.7rem);
    grid-gap: 15px;
}

.grid {
    /* border: 3px solid blue; */
    margin: 4px;
    padding: 2px;
    background-color: white;
}

.grid1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-column: 1/span 2;
    grid-row: 1/span 1;
    position: relative;
    background-color: rgb(134, 61, 218);
    z-index: 100000;
    display: flex;
    padding: 20px;
    flex-direction: column;
}

.profile_1 {
    display: grid;
    /* border: 2px solid chartreuse; */
    grid-template-columns: 10% 60%;
    width: 100%;
    position: relative;
    /* padding: 15px; */
}

.profile_1 img {
    height: 40px;
    width: 40px;
    padding: 5px;
    border-radius: 50px;
}
.profile_1 p {
    color: rgb(45, 47, 48);
}
.profile_1 h3 {
    color: aliceblue;
    margin-top: 0px;
}
.main-heading{
    color: aliceblue;
    margin-top: 40px;
}
.grid1 h5{
    color: rgb(186, 194, 201);
    margin-top: 10px;
    font-weight: 100;
}

.logo{
    left: 450px;
    position: absolute;
    z-index: -100;
}
.grid2 {
    grid-row: 1/span 1;
    background-color: #48556a;
    padding: 15px;
    display: flex;
    padding: 20px;
    flex-direction: column;
}
.profile_2{
    display: flex;
    justify-content: space-around;
}

.profile_1_img img,.profile_2_img img,.profile_3_img img,.profile_4_img img,.profile_5_img img{
    height: 40px;
    width: 40px;
    padding: 0px;
    border-radius: 50px;
}
.grid2 h5{
    color: rgb(175, 185, 194);
    margin-top: 10px;
    font-weight: 100;
}

.grid3 {
    grid-area: g3;
    grid-column: 4/span 1;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-row: 1/span 3;
    background-color: rgb(253, 253, 253);
    display: flex;
    padding: 15px;
    flex-direction: column;
}
.profile_3{
    display: flex;
   justify-content: space-around;
}
.profile_3_img{

    margin-bottom: 30px;
}

.profile_3_name, .profile_4_name{
    margin-right: 25px;
}
.main-heading3{
    font-size: 20px;
    margin-bottom: 25px;   
}
.p3{
    font-size: 15px;
    color: rgb(177, 180, 180);
    margin-top: 25px;
    padding-top: 15 px;
}
.grid3 h3{
    color: rgb(63, 61, 61);
    margin-top: 0px;
    margin-bottom: 2px;
}
.profile_2_name{
    color: white;
}
.grid3 h5{
    color: rgb(97, 95, 95);
    line-height: 20px;
    font-weight: 100;
}
.grid4 {
    grid-area: g4;
    grid-row-start: 2;
    grid-column: 1/span 1;
    grid-column-start: 1;
    background-color: rgb(255, 255, 255);
    display: flex;
    padding: 15px;
    flex-direction: column;
}
.grid4 h5{
    font-weight: 100;
}
.profile_4{
    display: flex;
    justify-content: space-around;
}
.profile_4_img img{
    border-radius: 50px;
}
.profile_4_img h3{
    margin-left: 10px;
}
.profile_4_img p{
    margin-left: 10px;
    color: rgb(51, 53, 54);
}
.main-heading4{
    color: rgb(44, 42, 42);
    margin-bottom: 20px;
    margin-top: 20px;
}
.h4{
    color: rgb(58, 57, 55);
    text-align: justify;
    line-height: 20px;
}
.grid5 {
    grid-area: g5;
    grid-row-start: 2;
    grid-column: 2/span 2;
    grid-column-start: 2;
    background-color:#19212e;
    display: flex;
    padding: 15px;
    flex-direction: column;
}
.profile_5{
    display: flex;
    color: aliceblue;
}

.profile_5_name h3{
    margin-left: 20px;
}

.profile_4_name p,.profile_3_name p,.profile_1_name p{
    font-size: 15px;
    color: rgb(88, 92, 90);
}

.profile_2_name p{
    font-size: 15px;
    color: rgba(240, 248, 255, 0.316);
}
.profile_5_name p{
    margin-left: 20px;
    font-size: 15px;
    color: rgb(88, 92, 90);
}

.h5{
    margin-top: 15px;
    color: rgb(175, 175, 172);
}

.grid1,
.grid2,
.grid3,
.grid4,
.grid5 {
    border-radius: 15px;
    box-shadow: 0px 1px 3px 1px rgb(53, 51, 51);
}